body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.food-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.yellow {
    background-color: yellow;
    color: black;
}

.green {
    background-color: green;
    color: black;
}

.red {
    background-color: red;
    color: black;
}

.blue {
    background-color: blue;
    color: black;
}

#order-list {
    list-style-type: none;
    padding: 0;
}

#order-list li {
    cursor: pointer;
}

#confirm-button {
    font-size: 20px;
    padding: 10px 20px;
}

#total-label {
    font-size: 24px;
    margin-top: 20px;
}

#sum-label {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

#admin-panel {
    margin-top: 50px;
}

#admin-login,
#admin-commands,
#logout-button {
    display: none;
}
